header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    img{
        width: 7em;
    }
    a{
        margin: 1rem;
        text-decoration: none;
    }
}